In [1]:
import pandas as pd

In [ ]:
## Match Results Data

In [2]:
match_result=pd.read_json(r'D:\cricket Analysis using PowerBI\t20_json_files\t20_wc_match_results.json')

In [3]:
match_result

                                        matchSummary
0  [{'team1': 'Namibia', 'team2': 'Sri Lanka', 'w...

In [4]:
match_result_data=pd.json_normalize(match_result['matchSummary'].explode())

In [5]:
match_result_data.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [6]:
match_result_data.shape

(45, 7)

In [7]:
match_result_data.rename(columns={'scorecard':'match_id'},inplace=True)

In [8]:
match_result_data.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [42]:
match_ids_dict={}
for index,row in match_result_data.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']
match_ids_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [9]:
match_result_data.to_csv('matchsummary.csv',index=False)

In [ ]:
##Batting Summary

In [10]:
batting_summary=pd.read_json(r'D:\cricket Analysis using PowerBI\t20_json_files\t20_wc_batting_summary.json')

In [11]:
batting_summary.head()

                                      battingSummary
0  [{'match': 'Namibia Vs Sri Lanka', 'teamInning...
1  [{'match': 'U.A.E. Vs Netherlands', 'teamInnin...
2  [{'match': 'Scotland Vs West Indies', 'teamInn...
3  [{'match': 'Zimbabwe Vs Ireland', 'teamInnings...
4  [{'match': 'Namibia Vs Netherlands', 'teamInni...

In [12]:
batting_summary_data=pd.json_normalize(batting_summary['battingSummary'].explode())

In [13]:
batting_summary_data.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1.0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2.0,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3.0,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4.0,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5.0,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [23]:
batting_summary_data.tail(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
692,Pakistan Vs England,Pakistan,8.0,Mohammad Wasim,c Livingstone b Jordan,4,8,0,0,50.00
693,Pakistan Vs England,Pakistan,9.0,Shaheen Shah Afridi,,5,3,1,0,166.66
694,Pakistan Vs England,Pakistan,10.0,Haris Rauf,,1,1,0,0,100.00
695,Pakistan Vs England,England,1.0,Jos Buttler(c),c Mohammad Rizwan b Haris Rauf,26,17,3,1,152.94
696,Pakistan Vs England,England,2.0,Alex Hales,b Shaheen Shah Afridi,1,2,0,0,50.00
697,Pakistan Vs England,England,3.0,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
698,Pakistan Vs England,England,4.0,Ben Stokes,,52,49,5,1,106.12
699,Pakistan Vs England,England,5.0,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
700,Pakistan Vs England,England,6.0,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
701,Pakistan Vs England,England,7.0,Liam Livingstone,,1,1,0,0,100.00

In [21]:
column=['batsmanName','dismissal']
for change in column:
    batting_summary_data[change]=batting_summary_data[change].replace('[\†]','',regex=True)

In [22]:
batting_summary_data.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1.0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2.0,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3.0,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4.0,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5.0,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [24]:
batting_summary_data['out/notout']=batting_summary_data['dismissal'].apply(lambda x:"out" if len(x)>0 else "not out")

TypeError: object of type 'float' has no len()

In [25]:
batting_summary_data.isnull().sum()

match          3
teamInnings    3
battingPos     3
batsmanName    3
dismissal      3
runs           3
balls          3
4s             3
6s             3
SR             3
dtype: int64

In [27]:
batting_summary_data[batting_summary_data.isna().any(axis=1)]

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
batting_summary_data=batting_summary_data.dropna(how='all')
batting_summary_data

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1.0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2.0,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3.0,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4.0,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5.0,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
697,Pakistan Vs England,England,3.0,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
698,Pakistan Vs England,England,4.0,Ben Stokes,,52,49,5,1,106.12
699,Pakistan Vs England,England,5.0,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
700,Pakistan Vs England,England,6.0,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
701,Pakistan Vs England,England,7.0,Liam Livingstone,,1,1,0,0,100.00

In [30]:
batting_summary_data.shape

(699, 10)

In [31]:
batting_summary_data['out/notout']=batting_summary_data['dismissal'].apply(lambda x:"out" if len(x)>0 else "not out")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_5312\682443775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batting_summary_data['out/notout']=batting_summary_data['dismissal'].apply(lambda x:"out" if len(x)>0 else "not out")

In [33]:
batting_summary_data.head(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/notout
0,Namibia Vs Sri Lanka,Namibia,1.0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2.0,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3.0,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4.0,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5.0,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6.0,Jan Frylinck,run out (Gunathilaka/Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7.0,David Wiese,c Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8.0,JJ Smit,,31,16,2,2,193.75,not out
8,Namibia Vs Sri Lanka,Sri Lanka,1.0,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2.0,Kusal Mendis,c Green b Wiese,6,6,0,0,100.00,out

In [34]:
batting_summary_data.tail(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/notout
692,Pakistan Vs England,Pakistan,8.0,Mohammad Wasim,c Livingstone b Jordan,4,8,0,0,50.00,out
693,Pakistan Vs England,Pakistan,9.0,Shaheen Shah Afridi,,5,3,1,0,166.66,not out
694,Pakistan Vs England,Pakistan,10.0,Haris Rauf,,1,1,0,0,100.00,not out
695,Pakistan Vs England,England,1.0,Jos Buttler(c),c Mohammad Rizwan b Haris Rauf,26,17,3,1,152.94,out
696,Pakistan Vs England,England,2.0,Alex Hales,b Shaheen Shah Afridi,1,2,0,0,50.00,out
697,Pakistan Vs England,England,3.0,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,out
698,Pakistan Vs England,England,4.0,Ben Stokes,,52,49,5,1,106.12,not out
699,Pakistan Vs England,England,5.0,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,out
700,Pakistan Vs England,England,6.0,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,out
701,Pakistan Vs England,England,7.0,Liam Livingstone,,1,1,0,0,100.00,not out

In [43]:
batting_summary_data['match_id']=batting_summary_data['match'].map(match_ids_dict)

In [46]:
batting_summary_data.head(22)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/notout,match_id
0,Namibia Vs Sri Lanka,Namibia,1.0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2.0,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3.0,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4.0,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5.0,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6.0,Jan Frylinck,run out (Gunathilaka/Mendis),44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7.0,David Wiese,c Mendis b Theekshana,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8.0,JJ Smit,,31,16,2,2,193.75,not out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1.0,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2.0,Kusal Mendis,c Green b Wiese,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3.0,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out,T20I # 1823
11,Namibia Vs Sri Lanka,Sri Lanka,4.0,Danushka Gunathilaka,c Green b Shikongo,0,1,0,0,0.00,out,T20I # 1823
12,Namibia Vs Sri Lanka,Sri Lanka,5.0,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23,out,T20I # 1823
13,Namibia Vs Sri Lanka,Sri Lanka,6.0,Dasun Shanaka(c),c Green b Frylinck,29,23,2,1,126.08,out,T20I # 1823
14,Namibia Vs Sri Lanka,Sri Lanka,7.0,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00,out,T20I # 1823
15,Namibia Vs Sri Lanka,Sri Lanka,8.0,Chamika Karunaratne,c Baard b Smit,5,8,0,0,62.50,out,T20I # 1823
16,Namibia Vs Sri Lanka,Sri Lanka,9.0,Pramod Madushan,run out (van Lingen/Green),0,0,0,0,-,out,T20I # 1823
17,Namibia Vs Sri Lanka,Sri Lanka,10.0,Dushmantha Chameera,c Erasmus b Wiese,8,15,0,0,53.33,out,T20I # 1823
18,Namibia Vs Sri Lanka,Sri Lanka,11.0,Maheesh Theekshana,,11,11,0,1,100.00,not out,T20I # 1823
19,U.A.E. Vs Netherlands,U.A.E.,1.0,Chirag Suri,c Edwards b van der Merwe,12,20,1,0,60.00,out,T20I # 1825
20,U.A.E. Vs Netherlands,U.A.E.,2.0,Muhammad Waseem,c Pringle b Klaassen,41,47,1,2,87.23,out,T20I # 1825
21,U.A.E. Vs Netherlands,U.A.E.,3.0,Kashif Daud,b Pringle,15,14,0,1,107.14,out,T20I # 1825

In [47]:
batting_summary_data.to_csv('batting_summary.csv',index=False)

In [48]:
##Bowling Summary Data

In [50]:
bowling_summary=pd.read_json(r'D:\cricket Analysis using PowerBI\t20_json_files\t20_wc_bowling_summary.json')
bowling_summary.head()

                                      bowlingSummary
0  [{'match': 'Namibia Vs Sri Lanka', 'bowlingTea...
1  [{'match': 'U.A.E. Vs Netherlands', 'bowlingTe...
2  [{'match': 'Scotland Vs West Indies', 'bowling...
3  [{'match': 'Zimbabwe Vs Ireland', 'bowlingTeam...
4  [{'match': 'Namibia Vs Netherlands', 'bowlingT...

In [51]:
bowling_summary_data=pd.json_normalize(bowling_summary['bowlingSummary'].explode())
bowling_summary_data.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [52]:
bowling_summary_data['match_id']=bowling_summary_data['match'].map(match_ids_dict)

In [53]:
bowling_summary_data.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

In [55]:
bowling_summary_data.to_csv('bowlingsummary.csv',index=False)

In [56]:
bowling_summary_data.isnull().sum()

match          3
bowlingTeam    3
bowlerName     3
overs          3
maiden         3
runs           3
wickets        3
economy        3
0s             3
4s             3
6s             3
wides          3
noBalls        3
match_id       3
dtype: int64

In [57]:
bowling_summary_data.dropna(how='all',inplace=True)

In [58]:
bowling_summary_data.to_csv('bowlingsummary.csv',index=False)

In [ ]:
#playersummary data

In [60]:
player_summary=pd.read_json(r'D:\cricket Analysis using PowerBI\t20_json_files\t20_wc_player_info.json')
player_summary.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis†,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [65]:
player_summary['name']=player_summary['name'].replace('[\†]','',regex=True)

In [61]:
player_summary.isnull().sum()

name            0
team            0
battingStyle    0
bowlingStyle    0
playingRole     0
description     0
dtype: int64

In [62]:
player_summary.shape

(219, 6)

In [68]:
player_summary.to_csv('playersummary_noimages.csv',index=False)

In [66]:
player_summary[player_summary['team']=='Zimbabwe'].head(1)

,name,team,battingStyle,bowlingStyle,playingRole,description
35,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."